<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Family</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-width: 100px;
            height: auto;
        }
    </style>
</head>

<body>
    <h1>Remove Family</h1>

    <form action="/upload_family" method="post" enctype="multipart/form-data">
        <label for="name">Family Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="dob">Date of Birth:</label>
        <input type="text" id="dob" name="dob" oninput="formatDateString(this.value)" required>


        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <label for="file">Family Photo:</label>
        <input type="file" id="file" name="file" accept=".png, .jpg, .jpeg, .gif" required>

        <input type="submit" value="Remove Family">
    </form>
    <!-- Nút để chuyển hướng đến trang /add_family -->
    <a href="/"><button>Back</button></a>
    
    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'success' %}
            <p class="success">{{ message }}</p>
        {% elif category == 'error' %}
            <p class="error">{{ message }}</p>
        {% endif %}
    {% endfor %}
{% endwith %} -->
</body>

</html>
